.logoWrap {
  display: flex;
  align-items: start;
}

.gradientText {
  background: linear-gradient(
    90deg,
    #bb9f03 0%,
    #c0b40b 40%,
    #c5c20f 50%,
    #57aeec 60%,
    #034d81 90%,
    #012e72 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0;
  font-size: 22px;
  -webkit-text-stroke: 1px rgb(228, 228, 228);
  paint-order: stroke fill;
  animation: shimmer 3s ease-in-out infinite;
}

.gradientTextMobile {
  background: linear-gradient(
    90deg,
    #bb9f03 0%,
    #c0b40b 40%,
    #c5c20f 50%,
    #57aeec 60%,
    #034d81 90%,
    #012e72 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  letter-spacing: 0;
  font-style: italic;
  font-size: 20px;
  -webkit-text-stroke: 0.8px rgb(228, 228, 228);
  paint-order: stroke fill;
  animation: shimmer 3s ease-in-out infinite;
}

@keyframes shimmer {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
  }
}

.gradientText:hover {
  animation: shimmer 1.5s ease-in-out infinite;
}

/* ======================== */
.logoLetter {
  position: relative;
  font-weight: 800;
  letter-spacing: 0.4px;
  font-size: 22px;

  background: linear-gradient(
    180deg,
    #60fab5 15%,
    #3be6f6 25%,
    #2563eb 70%,
    #1e40af 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 20px rgba(56, 191, 248, 0.507),
    0 0 40px rgba(14, 164, 233, 0.301),
    0 2px 8px rgba(0, 0, 0, 0.4);
}

.logoGlow {
  position: absolute;
  inset: -15px;
  background: radial-gradient(
    ellipse at center,
    rgba(56, 189, 248, 0.4) 0%,
    rgba(14, 165, 233, 0.3) 30%,
    rgba(2, 132, 199, 0.15) 50%,
    transparent 70%
  );
  filter: blur(25px);
  z-index: -1;
}
